link(href='../../vendor/polymer/polymer.html' rel='import')
link(href='../../vendor/iron-icon/iron-icon.html' rel='import')

dom-module#icon-toggle
    template
        include _tpl

        style.
            {%= include('css.css') %}

    script(src='main.js')