link(href='../../vendor/polymer/polymer.html' rel='import')
link(href='../../vendor/iron-icons/iron-icons.html' rel='import')
link(href='../icon-toggle/main.html' rel='import')

dom-module#icon-toggle-demo
    template
        include _tpl

        style.
            {%= include('css.css') %}

    script(src='main.js')